@import url("https://fonts.googleapis.com/css2?family=Hubballi&family=Inconsolata:wght@300&family=Jura&family=League+Spartan:wght@100;300;400&family=Lora:ital,wght@0,400;0,500;1,400&family=Montserrat&family=Noto+Sans&family=Open+Sans:wght@700&family=Oxygen:wght@400;700&family=Poppins:wght@200;300;500;600;700;800;900&family=Raleway:wght@100;200;300;400;600;700&family=Roboto+Slab:wght@100;200;300;400&family=Roboto:wght@100;400;500&family=Ubuntu:wght@400;500&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #373737;
  background-image: url(Image/header_background.jpg);
  background-repeat: no-repeat;
}

.main {
  max-width: 1366px;
  margin: 0 auto;
}

.header {
  background-color: black;
  opacity: 0.6;
  width: 100%;
  height: 70px;
}

.header_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}

.header_icons-left {
  font-size: 20px;
}

.header_ic-left {
  margin-left: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.header_ic-left:first-child {
  margin-left: 0;
}

.header_text-center {
  margin: 0 285px;
}

.header_icons-right {
  font-size: 20px;
}

.header_ic-right {
  margin-left: 25px;
}

@media screen and (max-width: 320px) {
  .header_ic-right {
    display: none;
  }
  .header_map-icons {
    display: none;
  }
  .header_text-center {
    margin: 0 0 0 100px;
  }
  .header_number {
    display: none;
  }
}

@media screen and (max-width: 1366px) {
  .header_vector-icons {
    display: none;
  }
}

.content_text {
  margin-top: 140px;
}

.content_text-title {
  font-family: 'Jura', sans-serif;
  font-size: 41px;
  color: white;
  letter-spacing: 2px;
}

.content_subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  line-height: 23px;
  margin-top: 24px;
  color: white;
  letter-spacing: 2px;
}

.btn {
  width: 165px;
  height: 55px;
  margin-top: 35px;
  border: 2px solid #C80000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 185px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  border-radius: 27px;
  color: white;
}

@media screen and (max-width: 320px) {
  .content_text-title {
    margin-top: 100px;
    text-transform: uppercase;
    font-size: 24px;
    color: red;
  }
}

.icons {
  margin-top: 220px;
}

.icons_name {
  text-align: center;
}

.icons_cen {
  margin-left: 190px;
}

.icons_name-cen {
  margin-left: 141px;
}

.icons_name-cen:first-child {
  margin-left: 0;
}

@media screen and (max-width: 320px) {
  .icons_name {
    display: none;
  }
}

.catalog-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.catalog-navbar_image-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.catalog-navbar_title-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=tuo_town.css.map */